.title{
  display: flex;
  justify-content: center;
}
.library-btns{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.btn{
  height: 100px;
  width: 300px;
  border-radius: 50%;
  margin: 10px;
  background-color: aqua;
  font-size: larger;
  color: rebeccapurple;
  cursor: pointer;
}
.master-card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  height: auto;
  width: 250px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
}
.image{
  height: 250px;
  width: 250px;
  border-radius: 20px 20px 0 0;
}
.book-details{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.material-btns{
  display: flex;
  justify-content: center;
}
.add-btn{
  display: flex;
  justify-content: center;
  margin: 20px;
}